/2D-GameProject/.plastic/
/2D-GameProject/.vs/
/2D-GameProject/Library/
/2D-GameProject/Logs/
/2D-GameProject/Packages/
/2D-GameProject/UserSettings/
/2D-GameProject/.vsconfig
/2D-GameProject/2D-GameProject.sln